flows.json
[{"id":"42695d00.e00884","type":"tab","label":"LINE bot","disabled":false,"info":""},{"id":"f3650d68.b3444","type":"debug","z":"42695d00.e00884","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":260,"wires":[]},{"id":"1b2a9c18.6b6484","type":"http in","z":"42695d00.e00884","name":"LINE botからのアクセス受付","url":"/webhook","method":"post","upload":false,"swaggerDoc":"","x":160,"y":40,"wires":[["d0769b5f.63c618","b3be3592.abb5c8"]]},{"id":"d0769b5f.63c618","type":"http response","z":"42695d00.e00884","name":"httpレスポンス","statusCode":"200","headers":{},"x":400,"y":40,"wires":[]},{"id":"ce13b92c.e875b8","type":"http request","z":"42695d00.e00884","name":"CoinMarketCAP APIにリクエスト","method":"GET","ret":"txt","paytoqs":true,"url":"https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":120,"wires":[["63db4e8e.d49dd"]]},{"id":"63db4e8e.d49dd","type":"json","z":"42695d00.e00884","name":"json形式に変換","property":"payload","action":"","pretty":false,"x":200,"y":180,"wires":[["e95addd7.4a445"]]},{"id":"a1f4dec7.697c7","type":"PushMessage","z":"42695d00.e00884","name":"LINE botに通知","x":720,"y":180,"wires":[]},{"id":"b3be3592.abb5c8","type":"change","z":"42695d00.e00884","name":"仮想通貨の名前抜き出し","rules":[{"t":"set","p":"name","pt":"msg","to":"payload.events[0].message.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":120,"wires":[["6bdee6d4.03b158"]]},{"id":"6bdee6d4.03b158","type":"function","z":"42695d00.e00884","name":"httpリクエストのbody作成","func":"// ここにCoinMarket CAP APIのKeyを入力する\nlet API_KEY = \"xxxxxxxxxxxxxxxxxxxxx\";\n\nmsg.payload = {\n    \"symbol\":msg.name,\n    \"convert\":\"JPY\"\n};\n\nmsg.headers = {\n    \"X-CMC_PRO_API_KEY\":API_KEY,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["ce13b92c.e875b8"]]},{"id":"e95addd7.4a445","type":"function","z":"42695d00.e00884","name":"LINE botに通知するテキスト生成","func":"let name = msg.payload.data;\nlet price = name[msg.name].quote.JPY.price;\n\nmsg.payload = \n \"現在の価格は：\\n\" + price + \" 円です。\"\nmsg.out = name; \nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["f3650d68.b3444","a1f4dec7.697c7"]]}]